/target/
**/src/main/**/target/
**/src/test/**/target/

.idea/
*.iml

.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

.DS_Store
Thumbs.db

.mvn/wrapper/maven-wrapper.jar

*.log
